<% layout('layouts/boilerplate') -%>
<h1>New Category!</h1>

<form action="/categories" method="POST" enctype="application/x-www-form-urlencoded">
	<div><input type="text" name="category[title]" placeholder="Title" autofocus></div>

	<input type="submit">
</form>